html {
    background-color: #F5E8C7;
    color: #AC7088;
    
}

h1 {
    text-align: center;
}

#Intro {
    height: 200px;
    width: 100%;
    margin-top: 100px;
}

.container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.bookcard {
    text-align: center;
    border: 10px solid white;
}

img {
    height: 70%;
    width: 50%
}